/* Mid Konten*/
  .wrapAbout {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    color: #2c2c2c;
    background-color: #ffffff;
  }

  /* Siapa Kami */
  .boxSiapaKami {
    border-radius: 12px;
    /* padding: 2rem 4rem; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .siapaKami{
    font-size: 2.5rem;
    font-weight: 700;
    color: #023402;
    margin-bottom: 1rem;
    margin-top: 4rem;
  }

  .tagAbout {
    font-size: 1rem;
    max-width: 800px;
    color: gray;
    font-size: 700;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.65;
  }

  /* Kegiatan */
  .boxKegiatan {
    border: 2px solid #2c2c2c;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
.boxSiapaKami,
.boxKegiatan {
  overflow: visible; /* jangan crop isi */
  padding: 2rem;
}