.profilTabs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.tabWrapper {
  display: flex;
  justify-content: center;
  width: fit-content;
  gap: 16px;
  padding: 8px;
  border: 1px solid var(--border-gray-light);
  border-radius: var(--radius-lg);
  background-color: var(--color-white);
  flex-wrap: wrap;
}

.tabButton {
  background-color: #f3f4f6;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  color: #374151;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.tabButton:hover {
  border: 2px solid var(--color-gray);
}

.tabButton.active {
  background-color: var(--color-primary-dark);
  color: white;
}