/* 1. Pondasi Styling Global */
@import url('./Components/styles/theme.css');
@import url('./Components/styles/layout.css');

/* 2. Komponen Profil */
@import url('./Components/Pages/profil/profilHeader.css');
@import url('./Components/Pages/profil/achievementList.css');
@import url('./Components/Pages/profil/userData.css');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}