*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}

#root {
    width: 100%;
    padding: 0 0.6rem;
}

.signupContainer{
    background: #fff;
    padding: 2rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 410px;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.signupContainer .formTitle{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #333;
    text-align: center;
}

.signupContainer .signupForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signupContainer .signupForm .sectionTitle{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
    color: #355d49;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.25rem;

}
.signupContainer .signupForm .inputWrap{
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.signupContainer .signupForm .infoPribadi .inputWrap .inputField{
    width: 100%;
    height: 100%;
    padding: 0rem 1.25rem 0rem 3.12rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.signupContainer .signupForm .infoAlamat .inputWrap .inputField{
    width: 100%;
    height: 100%;
    padding: 0rem 1.25rem 0rem 3.12rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.signupContainer .signupForm .keamananAkun .inputWrap .inputField{
    width: 100%;
    height: 100%;
    padding: 0rem 1.25rem 0rem 3.12rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}



.signupForm .infoPribadi .inputWrap .inputField:focus{
    border-color: #123524;
}

.signupForm .infoAlamat .inputWrap .inputField:focus{
    border-color: #123524;
}

.signupForm .keamananAkun .inputWrap .inputField:focus{
    border-color: #123524;
}

.signupForm .inputWrap .inputField::placeholder{
    color: #aaa;
    font-size: 0.9rem;
}

.signupContainer .signupForm .inputWrap .inputIcon{
    position: absolute;
    left: 4%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #aaa;
    top: 50%;
}

.signupForm .inputWrap .inputField:focus + .inputIcon{
    color: #123524;
}

.signupContainer .signupForm .signUpBtn{
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: #123524;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signupContainer .signupForm .signUpBtn:hover{
    background: #1c5138;
    scale: 1.01;
}

.signupContainer .loginLink{
    text-align: center;
    margin-top: 1rem;
    font-size: 0.95rem;
    color: #555;
}

.signupContainer .loginLink a{
    color: #123524;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.signupContainer .loginLink a:hover{
    color: #216b42;
    text-decoration: underline;
}

@media (max-width: 480px){
    .signupContainer{
        padding: 1.5rem 1rem;
    }
    .signupContainer .formTitle{
        font-size: 1.5rem;
    }
    .signupContainer .signupForm .inputWrap{
        height: 45px;
    }
    .signupContainer .signupForm .inputWrap .inputIcon{
        font-size: 1rem;
        left: 3%;
    }
    .signupContainer .signupForm .inputWrap .inputField{
        font-size: 0.9rem;
        padding: 0rem 1rem 0rem 2.5rem;
    }
    .signupContainer .signupForm .signUpBtn{
        font-size: 1rem;
        padding: 0.65rem;
    }
    .signupContainer .loginLink{
        font-size: 0.9rem;
    }
}
